---
import "selo-components/common.css"; // has to be above site-specific css

import Eng from "@/components/Eng.astro";
import Tok from "@/components/Tok.astro";
import "@/global.css";
import { Layout } from "selo-components";
---

<Layout title="404" description="">
  <center>
    <Eng> Page not found. <a href="/">Go to the front page</a></Eng>
    <Tok>lipu li lon ala. <a href="/">o tawa lipu open.</a></Tok>
  </center>
</Layout>
